<!doctype html>
<html>
<head>
  <title>Angular Forms</title>

  <!-- LOAD BOOTSTRAP CSS -->
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">

  <!-- LOAD JQUERY -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <!-- LOAD ANGULAR -->
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.6/angular.min.js"></script>

  <!-- PROCESS FORM WITH AJAX (NEW) -->
  <script>

    // define angular module/app
    var formApp = angular.module('formApp', []);

    // create angular controller and pass in $scope and $http
    function formController($scope, $http) {

      // create a blank object to hold our form information
      // $scope will allow this to pass between controller and view
      $scope.formData = {};

      // process the form
      $scope.processForm = function() {
        $http({
              method  : 'POST',
              url     : 'process.php',
              data    : $.param($scope.formData),  // pass in data as strings
              headers : { 'Content-Type': 'application/x-www-form-urlencoded' }  // set the headers so angular passing info as form data (not request payload)
          })
              .success(function(data) {
                  

                  if (!data.success) {
                    // if not successful, bind errors to error variables
                      $scope.errorFirstName = data.errors.firstname;
                      $scope.errorLastName = data.errors.lastname;
                      $scope.errorCompany = data.errors.company;
                      $scope.errorEmail = data.errors.email;
                      $scope.errorPhone = data.errors.phone;
                  } else {
                    // if successful, bind success message to message
                      $scope.message = data.message;
                  }
              });

      };

    }

  </script>
</head>
<!-- apply the module and controller to our body so angular is applied to that -->
<body ng-app="formApp" ng-controller="formController">
<div class="container">
<div class="col-md-6 col-md-offset-3">

  <!-- PAGE TITLE -->
  <div class="page-header">
    <h1>Angular Form</h1>
  </div>

  <!-- SHOW ERROR/SUCCESS MESSAGES -->
  <div id="messages" class="well" ng-show="message">{{ message }}</div>

  <!-- FORM -->
  <form ng-submit="processForm()">
    <!-- NAME -->
    <div id="firstName-group" class="form-group" ng-class="{ 'has-error' : errorFirstName }">
      <label>First Name</label>
      <input type="text" name="firstName" class="form-control" placeholder="First Name" ng-model="formData.firstName">
      <span class="help-block" ng-show="errorName">{{ errorFirstName }}</span>
    </div>

    <div id="lastName-group" class="form-group" ng-class="{ 'has-error' : errorLastName }">
      <label>Last Name</label>
      <input type="text" name="lastName" class="form-control" placeholder="Last Name" ng-model="formData.lastName">
      <span class="help-block" ng-show="errorLastName">{{ errorLastName }}</span>
    </div>

    <!-- Company NAME -->
    <div id="company-group" class="form-group" ng-class="{ 'has-error' : errorCompany }">
      <label>Company</label>
      <input type="text" name="company" class="form-control" placeholder="Company" ng-model="formData.company">
      <span class="help-block" ng-show="errorCompany">{{ errorCompany }}</span>
    </div>

        <!-- Email NAME -->
    <div id="email-group" class="form-group" ng-class="{ 'has-error' : errorEmail }">
      <label>Email</label>
      <input type="text" name="email" class="form-control" placeholder="email" ng-model="formData.email">
      <span class="help-block" ng-show="errorEmail">{{ errorEmail }}</span>
    </div>

        <!-- Phone NAME -->
    <div id="phone-group" class="form-group" ng-class="{ 'has-error' : errorPhone }">
      <label>Phone</label>
      <input type="text" name="phone" class="form-control" placeholder="phone" ng-model="formData.phone">
      <span class="help-block" ng-show="errorPhone">{{ errorPhone }}</span>
    </div>

        <!-- comments NAME -->
    <div id="comments-group" class="form-group" ng-class="{ 'has-error' : errorComments }">
      <label>Comments</label>
      <textarea rows="10" cols="30" name="comments" class="form-control" placeholder="Anything we need to know?" ng-model="formData.comments"></textarea>
      <!--<input type="text" name="comments" class="form-control" placeholder="Anything we need to know?" ng-model="formData.comments">-->
      <span class="help-block" ng-show="errorComments">{{ errorComments }}</span>
    </div>

    <!-- SUBMIT BUTTON -->
    <button type="submit" name="submit" value="Submit" class="btn btn-success btn-lg btn-block">
      Submit
    </button>
  </form>

  <!-- SHOW DATA FROM INPUTS AS THEY ARE BEING TYPED -->
  <!--
  <pre>
    {{ formData }}
  </pre>
-->

</div>
</div>
</body>
</html>